.text-center{
    text-align: center;
}
.modal-content{
    border-radius: 30px;
}
.signup-heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: linear-gradient(179.29deg, #FD749B -13.56%, #281AC8 158.3%);
}
#form input{
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    margin:15px auto;
    padding:10px 20px;
    width: 70%;
    outline-color: rgb(11, 11, 212);
}
.signup-btn{
    background: linear-gradient(179.37deg, #FD749B -13.56%, #281AC8 158.3%);
    border-radius: 100px;
    color:#fff;
    text-align: center;
    outline: none;
    margin:30px auto 20px auto;
    padding:10px 25px;
}
.already-a-member{
    margin:5px auto 30px auto;
}
.already-a-member a{
    color:#000;
    font-weight: bold;
    cursor: pointer;
}